[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/xdman/xdm-app %U
Name=Xtreme Download Manager
Comment=Xtreme Download Manager - Powerfull download accelerator and video downloader
Categories=Network;Utility;
Icon=xdm-app
StartupNotify=true
StartupWMClass=xdm-app
